.placeholder {
  border: 1px solid black;
  background: rgba(255,255,255,.6);
  padding: 20px;
  height: 150px;
  margin: 10px;
}

header {
  background: red;  
  float: left;    
  width: 50%;

}

main {
  background: yellow;
  float: left;
  width: 60%;
  /*   "clear: left"   */
}

/* We use width 60, 40 to total 100% */

aside {
  background: green;
  float: left;
  width: 40%;

}

footer {
  float: left;
  background: blue;
  width: 100%;

}


